<p id="notice"><%= notice %></p>

<p>
  <%= @convoyd_file.user.first_name %>'s file
</p>

<p>
	<b>Download it here</b>: <%= link_to "#{@convoyd_file.upload_file_name}", download_convoyd_file_path(@convoyd_file) , :target => "_blank"  %>
</p>
